/**
 * Created by BRITENET on 04.02.2019.
 */
.THIS {

}

.THIS .slds-text-color_weak{
    color:black;
    font-size:20px;

}

.THIS .slds-text-color_weak{
    font-size:25px;
    color: rgb(114,3,3);
}

.THIS .slds-text-heading_small{
    font-size: 2rem;
}

.THIS .slds-button_neutral {
    border:none;
}

.THIS .slds-form--compound .slds-form-element__row .slds-form-element{
    text-align:justify;
}
